.invoiceline table {
    margin-bottom: 1rem;
    font-size: 20px;
    color: #231955;
    border-collapse: collapse;
    
}

.invoiceline table th {
    border-bottom:2px solid #231955;
}

.invoiceline table td{
    height: 2rem;
    border-bottom: 2px solid #231955;
    text-align: center;
}

.invoiceline table td input {
    width: 7rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.invoiceline Button {
    margin-left: 12rem;
}

