.button {
    padding: 0.5rem;
    font-weight: bold;
    color: #FFE5B4;
    background-color: #1F4690;
    border: 1px solid #1F4690;
    border-radius: 5px;
}

.button:hover {
    padding: 0.25rem;
    color: #1F4690;
    background-color: #FFE5B4;
    border: 5px solid #1F4690;
}